body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html {
  background-image: url("./assets/vtech.png");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  max-width: 100%;
}

.list-container-fipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container > * {
  margin-bottom: 25px; /* Espaçamento entre os elementos */
}

.list-container > *:last-child {
  margin-bottom: 0; /* Remove margem inferior do último elemento */
}

.list-container h2,
.list-container h3 {
  margin: 0; /* Remove margens superiores e inferiores padrão */
}

.resultado_fipe {
  margin-top: 20px;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

.App {
  text-align: center;
  width: 100vh;
  max-width: 800px;
  margin: auto;
  height: 700px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.90);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header {
  color: white;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav button {
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  width: 7rem;
  height: 7rem;
  margin: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav button img {
  width: 80%;
  height: 80%;
}

nav button span {
  display: none;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: #32657E;
}

button.clicked {
  background-color: #32657E;
} 

.input-field {
  width: 90%;
  padding: 8px;
  border: 1px solid #32657E;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  margin-bottom: 10px;
}

.action-button{
  width: 200px; 
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #32657E;
  color: white;
  cursor: pointer;
  text-align: center;
}

.action-button:hover {
  background-color: #3b8bba;
}

.results-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado_consulta{
  font-size: 30px;
}

.result-item {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.result-item h2 {
  margin: 0 0 10px 0;
}

.result-item p {
  margin: 0;
}

main {
  padding: 1rem;
  background-color: white;
  margin: 0 4.6rem 0 4.6rem;
  max-width: 550px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

select, input, button {
  padding: 0.3rem;
  margin: 0.3rem 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

h1, h2, h3 {
  color: #333;
  margin: 5px;
}

p {
  color: #666;
}

#pesquisa_unitaria_search_button, #quantidade_de_consultas{
  margin: 5px 0 5px 0 ;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  height: 30px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.placa-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-container{
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 450px;
  text-align: center;
}

.details-container-results{
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.action-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.details-container {
  margin-top: 20px;
}

.details-container p {
  margin: 5px 0;
}

.botoes_novos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.botoes_novos_container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.consulta_button{
  border-radius: 10px;
  width: 50%;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
}

.result-item{
  width: 80%;
  font-size: large;
  font-weight: bold;
}

@media (max-width: 450px) {

  :root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  nav {
    flex-direction: column;
  }

  #pesquisa_unitaria_search_button, #quantidade_de_consultas{
    border-radius: 20px;
    width: 10rem;
    height: 2rem;
  }

  nav button{
    width: 15rem;
    height: 2rem;
  }

  nav button img {
    display: none;
  }

  nav button span {
    display: block;
  }


  .App {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  header h1 {
    font-size: 1.5rem;
  }


  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    border-radius: 20px;
  }

  .resultado_fipe {
    margin-top: 0px;
  }

  .select-container {
    background-color: red;
  }

  body {
    height: 90vh;
  }

  root {
    margin: 0;
    padding: 0;
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
  }

  .list-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.50);
  }
  
  .list-container h2, h3{
    font-size: 1.1rem;
  }

  .list-container-fipe h2, h3{
    font-size: 1.1rem;
  }

  .list-container-fipe {
    width: 320px;
    height: 400px;
  }

  .input-field {
    width: 300px;
  }

  html {
    background-image: url("./assets/VtechMobile.png");
    background-size: 300px 300px; /* largura altura */
    background-position: center; 
    background-repeat: no-repeat; 
  }
}
